* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

#fundo {

    z-index: -1;
    position: fixed;
    top: -0;
    left: -0;
    height: 100vh;
    width: 100vw;
    border-radius: none;



}
ul{
    list-style: none;
}



header {
    background-color: rgba(0, 0, 0, .70);
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

}

a {
    color: rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
    margin: 20px;
    text-decoration: none;


}

h1 {
    background-color: rgb(255, 0, 0);

    display: block;
    font-size: 60px;
    text-align: center;
    border-radius: 50%;

}

strong {
    color: blueviolet;
}

h2 {
    text-align: center;
}

h3 {

    display: block;
    font-size: 24px;
    text-align: center;
    margin: 15px auto;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.608);

}

p {

    display: block;
    font-size: 16px;
    text-align: center;
    padding: 0 10%;
    background-color: rgba(0, 0, 0, 0.608);

}

li {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
}

.a1 {
    width: 70%;
    border-radius: 40px;
}

button {
    color: white;
    background-color: #ff0000;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;



}


.menu-superior {
    color: white;
}

.ocasiao {
    background-color: rgba(255, 0, 0, 0.771);
    width: 50%;
    margin: 20px auto;
    border-radius: 15px;
}

.criatividade {
    background-color: rgba(255, 0, 0, 0.771);
    width: 50%;

    margin: 20px auto;
    border-radius: 15px;
}

.compromisso {
    background-color: rgba(255, 0, 0, 0.771);
    width: 50%;
    margin: 20px auto;
    border-radius: 15px;
}

.contato {
    background-color: rgba(255, 0, 0, 0.771);
    width: 50%;

    margin: 20px auto;
    border-radius: 15px;
}

section {
    width: 50%;
    text-align: right;

}

.left {
    float: left;
    width: 50%;
    display: flex;
    height: 300px;
    align-content: center;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}

.right {
    float: right;
    width: 60%;
    margin-right: 0;
    padding-right: 0;
    text-align: right;
    align-content: center;
}

.bottom {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px auto;
    border-radius: 30px;


}



.fale-conosco {
    background-color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 50px;
    padding: 20px;
    border-radius: 5px;
    top: 30%;
    left: -400px;
    transition: left 1s ease-in-out;

    input {
        height: 30px;
        border-radius: 5px;
        border: 1px solid grey;
        padding-left: 5px;
        outline-color: #18080f;
    }

    textarea {
        height: 100px;
        width: 350px;
        border-radius: 5px;
        border: 1px solid grey;
        padding-left: 5px;
        outline-color: #18080f;
    }

}



.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.85) 99%);
    transition: visibility 1s ease-in-out;
}

.linkwhatsapp {
    height: 60px;
    width: 60px;
    position: fixed;
    right: 2%;
    bottom:2%;

}

@media(max-width: 1000px) {
  
    .bottom {

        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    .left {
        width: 85%;
    }
}